
footer{
  background-color: var(--color4);
  color: #fff;
  height: 15%;
  font-size: 3.75rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}

