:root{
    --color1: #23395d;
    --color2: #203354;
    --color3: #1c2e4a;
    --color4: #152238;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
