@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

:root{
    --color1: #23395d;
    --color2: #203354;
    --color3: #1c2e4a;
    --color4: #1b1b1b;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
