.Header {
  background-color: var(--color1);
  color: #fff;
  padding: 10px;
  height: 100px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
